.about {
  padding: 27px 0;
}

.about__headline {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  margin: 0;
}

.about-list__item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  padding: 84px 0 0;
  margin: 0;
  width: 250px;
}

.about-list__item--eco::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 8px;
  width: 32px;
  height: 37px;
  background: url("../img/icon-feature-flower.svg") no-repeat;
}

.about-list__item--scandinavian::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 0;
  width: 47px;
  height: 27px;
  background: url("../img/icon-feature-money.svg") no-repeat;
}

.about-list__item--like::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 8px;
  width: 34px;
  height: 27px;
  background: url("../img/icon-feature-heart.svg") no-repeat;
}

.about-list__item--handmade::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 4px;
  width: 35px;
  height: 34px;
  background: url("../img/icon-feature-ball.svg") no-repeat;
}

.about-list__item--support::before {
  content: "";
  position: absolute;
  top: 34px;
  left: -6px;
  width: 55px;
  height: 23px;
  background: url("../img/icon-feature-rocket.svg") no-repeat;
}

.about-list__item--present::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 3px;
  width: 33px;
  height: 32px;
  background: url("../img/icon-feature-gift.svg") no-repeat;
}
@media (min-width: @tablet-width) {
  .about {
    padding: 0 0 80px;
    height: min-content;
  }

  .about__headline {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    margin: 0 0 20px -5px;
  }

  .about-list__item {
    width: 295px;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    margin: 0;
  }
}
@media (min-width: @desktop-width) {
  .about {
    width: 700px;
    margin: 0 auto;
    padding: 0 0 25px;
  }

  .about__headline {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
  }

  .about-list__item {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    margin: 0 0 30px;
  }
}
