.about{
  flex-direction: column;
  width: 260px;
  padding: 20px 0 32px;
}
.about__headline{
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  margin: 0;
}
.about__line{
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  padding: 83px 0 0;
  margin: 0;
  width: 250px;
  //background: url();
}
