.contacts {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0;
}

.contacts__headline {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  margin: 0 0 26px;
}

.contacts__data {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  margin: 0 0 8px;
  flex-direction: row;
  color: #444444;
}

.contacts__data tr {
  display: flex;
}

.contacts__data td {
  padding: 0;
  margin: 0 0 30px;
  min-width: 78px;
  vertical-align: top;
}

.contacts__mail td:nth-child(2) {
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: #ecf9f7;
    border-color: #ecf9f7;
  }
}

.contacts__map {
  margin: 0 -30px;
  width: 320px;
  height: 457px;
}

.contacts__map picture {
  display: none;
}

.contacts__map--nojs picture {
  display: block;
}

.contacts__contact {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  font-weight: bold;
  padding: 14px 0;
  text-align: center;
  border: 2px solid #444444;
  margin: 37px 0 39px;

  &:focus,
  &:hover {
    background: #444444;
    color: white;
  }

  &:active {
    color: #8d8d8d;
  }
}
@media (min-width: @tablet-width) {
  .contacts {
    padding: 0;
  }

  .contacts__headline {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 0 -5px;
    padding: 60px 0 47px;
    background: url("../img/icon-flag.svg") no-repeat;
    background-position: 623px 46px;
  }

  .contacts__data {
    font-size: 17px;
    margin: 0 31px 55px -3px;
  }

  .contacts__data tbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
  }

  .contacts__data tr {
    display: inline-block;
  }

  .contacts__data td {
    min-width: 75px;
  }

  .contacts__map {
    margin: 0 -50px;
    width: 768px;
    height: 457px;
  }

  .contacts__contact {
    font-size: 17px;
    width: 230px;
    margin: 55px auto 60px;
  }

  .contacts__map picture {
    width: 768px;
    height: 457px;
  }
}
@media (min-width: @desktop-width) {
  .contacts {
    max-height: 457px;
    flex-wrap: wrap;
    padding: 0 0 105px;
  }

  .contacts__headline {
    font-size: 53px;
    line-height: 57px;
    width: 350px;
    padding: 70px 0 47px 175px;
    background-position: 67px 61px;
  }

  .contacts__data {
    width: 310px;
    margin: 0 0 77px 175px;
  }

  .contacts__data tbody {
    display: block;
  }

  .contacts__data tr {
    display: block;
  }

  .contacts__mail {
    margin: 0 0 25px;
  }

  .contacts__data {
    flex-direction: column;
  }

  .contacts__contact {
    order: 1;
    width: 225px;
    margin: 0 0 0 175px;
  }

  .contacts__map {
    order: 2;
    margin: 0;
    width: 525px;
    height: 457px;
  }

  .contacts__map picture {
    width: 525px;
    height: 457px;
  }
}
