.page-footer__copyright{
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 19px;
  margin: 22px auto 36px;
  width: min-content;
  &:hover svg{fill: #46c1ae;}
  &:active{color: #bfbfbf}
  &:active svg{fill: #bde3dd;}
}
.page-footer__copyright svg{
  padding: 0 0 0 26px;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright{
    margin: 56px 50px 51px 62px;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__copyright{
    margin: 56px 50px 0 0;
  }

}
