.page-main__headline{
  margin: 0 -30px;
  color: #010000;
  font-family: @font-family;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  padding: 70px 0 75px;
}
.page-main__headline--index{
  padding: 70px 30px 122px;
  background: url(../img/hero-mobile@1x.jpg) #cddedc;
  background-position: -127px 355px;
}
.page-main__form-desctription{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 22px 0 5px;
}
