.page-main {
  border-top: 1px solid #ececec;
}

.page-main__wrapper {
  display: flex;
  width: 320px;
  height: 488px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -125px -20px;
  background-size: 575px 373px;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

.page-main__wrapper-grey {
  width: 100%;
  background: #f1f1f1;
}

.page-main__headline {
  width: 260px;
  text-align: center;
  margin: 70px auto 0;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.page-main__wrapper-grey .page-main__headline {
  margin: 0 auto;
  padding: 70px 0 75px;
}

.page-main__form-desctription {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 22px 0 5px;
}

.page-main__line--grey {
  display: flex;
  width: 100%;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg") repeat-x;
  background-size: auto 6px;
  background-position-x: 50%;
}

.page-main__line--reviews {
  margin: 45px 0 0;
}

.page-main__item-list {
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.page-main__about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: @tablet-width) {
  .page-main {
    margin: -66px 0 0;
  }

  .page-main__wrapper {
    display: flex;
    width: auto;
    height: 747px;
    padding: 0 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #f9f9f9;
    background-size: 1150px auto;
    @media (min-resolution: @retina-dpi),(min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-main__headline {
    margin: 153px auto 0;
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }

  .page-main__wrapper-grey .page-main__headline {
    padding: 95px 0 80px;
  }

  .page-main__form-desctription {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
  }

  .page-main__line--white {
    position: relative;
    display: flex;
    width: 100%;
    height: 23px;
    margin: -14px 0 0;
    background: url("../img/bg-zigzag-fill.svg") repeat-x;
    background-position-x: 50%;
    background-size: 768px 25px;
  }

  .page-main__line--grey {
    height: 17px;
    background-size: auto 17px;
  }

  .page-main__line--item {
    margin: 50px 0;
  }

  .page-main__line--reviews {
    margin: 68px 0 0;
  }

  .page-main__about-list {
    flex-direction: column;
    flex-wrap: wrap;
    height: 440px;
  }
}
@media (min-width: @desktop-width) {
  .page-main__headline {
    margin: 153px auto 360px;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__wrapper {
    height: 745px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .page-main__wrapper-grey .page-main__headline {
    padding: 93px 0 100px;
  }

  .page-main__line--white {
    height: 28px;
    background-size: 1150px 34px;
  }

  .page-main__line--grey {
    height: 23px;
    background-size: auto 23px;
  }

  .page-main__line--item {
    margin: 75px 0 57px;
  }

  .page-main__line--reviews {
    margin: 70px 0;
  }

  .page-main__item-list {
    flex-direction: row;
  }

  .page-main__about-list {
    height: 500px;
  }
}
