.social{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.social__link{
  display: flex;
  &:hover svg{fill: #46c1ae;}
  &:active svg{fill: #bde3dd;}
}
.social__link--instagram{
  margin: 30px 0 30px 57px;
}
.social__link--facebook{
  margin: 25px 0 27px 41px;
}
.social__link--twitter{
  margin: 30px 0 30px 40px;
}
